<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="../static/favicon.svg"/>
    <link rel="shortcut icon" href="../static/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png"/>
    <link rel="manifest" href="../static/site.webmanifest"/>
    <title>{{title}}</title>
</head>
<body>
<script src="../static/bootstrap.bundle.min.js"></script>
<script src="../static/main.js"></script>
<script src="https://kit.fontawesome.com/f9f41889e8.js" crossorigin="anonymous"></script>
<header>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">School diary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Students</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="/students">All students list</a></li>
                            <li><a class="dropdown-item" href="/students/avg_grade">Students by rating</a></li>
                            <li><a class="dropdown-item" href="/students/top_10_students">Top 10 students</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/teachers">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/grades">Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/groups">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/disciplines">Disciplines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/docs">docs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" data-bs-toggle="modal"
                           data-bs-target="#modal-info"><i class="fa-solid fa-gear"></i></a>
                        <!-- MODAL   -->
                        <div class="modal fade" id="modal-info" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content bg-light">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Seed test data</h5>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="button" id="insertFakeDataButton" class="btn btn-outline-danger"
                                        onclick="window.location.href='/seed';" style="cursor: pointer;">Insert fake data</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fa-solid fa-user-graduate"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li class="nav-item">
                                <a class="dropdown-item" aria-current="page" href="/registration"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal-registration">Sign in</a>
                            </li>
                            <li><a class="dropdown-item" href="/login" data-bs-toggle="modal"
                                   data-bs-target="#modal-signin">Log in</a></li>
                        </ul>
                                                <!-- MODAL REGISTRATION   -->
                                                <div class="modal fade" id="modal-registration" tabindex="-3"
                                                     aria-labelledby="ModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content bg-light">
                                                            <div class="modal-body">
                                                                <form id="signup-form" action="/signup" method="post">
                                                                    <div class="mb-3">
                                                                        <input type="email" name="username" class="form-control bg-light"
                                                                               id="signup-username"
                                                                               aria-describedby="username" placeholder="name@example.com">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <input type="password" name="password" class="form-control bg-light"
                                                                               id="signup-password" placeholder="password">
                                                                    </div>
                                                                    <div class="mb-3 form-check">
                                                                    </div>
                                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-outline-danger">Sign in</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                        <!-- MODAL login in -->
                        <div class="modal fade" id="modal-signin" tabindex="-3"
                             aria-labelledby="ModalLabel"
                             aria-hidden="true">`
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content bg-light">
                                    <div class="modal-body">
                                        <form id="login-form" action="/login" method="post">
                                            <div class="mb-3">
                                                <input type="email" name="username" class="form-control"
                                                       id="login-email"
                                                       aria-describedby="emailHelp" placeholder="name@example.com">
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" name="password" class="form-control"
                                                       id="login-password" placeholder="password">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Log in</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
<footer id="footer">
</footer>
</body>
</html>