{% extends "base.html" %}

{% block content %}
<div class="full-width-block">
    <div>
        <section class="main-content">
            <main class=" px-3">
                <div class="container my-5">
                    <h2>{{title}}</h2>
                    <table class="table table-hover table-striped rounded-table ">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">id</th>
                            <th scope="col">date_of</th>
                            <th scope="col">grade</th>
                            <th scope="col">student</th>
                            <th scope="col">discipline</th>
                            <th scope="col">teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for grade in grades %}
                        <tr onclick="window.location.href='/grades/{{ grade.id }}';" style="cursor: pointer;">
                            <th scope="row">{{ offset + loop.index }}</th>
                            <td>{{ grade.id }}</td>
                            <td>{{ grade.date_of }}</td>
                            <td>{{ grade.grade }}</td>
                            <td>{{ grade.student_fullname }}</td>
                            <td>{{ grade.discipline_name }}</td>
                            <td>{{ grade.teacher_fullname }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Navigation">
                        <ul class="pagination justify-content-end">

                            {# Кнопка Previous #}
                            {% if offset > 0 %}
                            <li class="page-item">
                                <a class="page-link" href="?limit={{ limit }}&offset={{ offset - limit }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            {% endif %}

                            {# Кнопка Next #}
                            {% if offset + limit < total_count %}
                            <li class="page-item">
                                <a class="page-link" href="?limit={{ limit }}&offset={{ offset + limit }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </main>
            {% endblock %}