{% extends "base.html" %}

{% block content %}
<div class="full-width-block">
    <div>
        <section class="main-content">
            <main class=" px-3">
                <div class="container my-5">
                    <h2>{{title}}</h2>
                    <form class="w-100 mt-5" action="/grades/?search=search_by" method="GET">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Search by:</span>
                                    <input type="text" class="form-control" placeholder="Student name"
                                           aria-label="student name" aria-describedby="basic-addon1" name="search_by">
                                    {% if request.query_params.get('search_by') %}
                                    <button type="submit" class="btn btn-secondary">Clear</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-secondary">Search</button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Select by discipline" name="discipline"
                                        onchange="this.form.submit()">
                                    <option selected>Select by discipline:</option>
                                    {% for discipline in disciplines %}
                                    <option value="{{ discipline.id }}" {% if request.query_params.get(
                                    'discipline') == discipline.id %}selected{% endif %}>{{ discipline.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Select by teacher">
                                    <option selected>Select by teacher:</option>
                                    <option value="1">Один</option>
                                    <option value="2">Два</option>
                                    <option value="3">Три</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <table class="table table-hover table-striped rounded-table ">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">id</th>
                            <th scope="col">date_of</th>
                            <th scope="col">grade</th>
                            <th scope="col">student</th>
                            <th scope="col">discipline</th>
                            <th scope="col">teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for grade in grades %}
                        <tr onclick="window.location.href='/grades/{{ grade.id }}';" style="cursor: pointer;">
                            <th scope="row">{{ offset + loop.index }}</th>
                            <td>{{ grade.id }}</td>
                            <td>{{ grade.date_of }}</td>
                            <td>{{ grade.grade }}</td>
                            <td>{{ grade.student_fullname }}</td>
                            <td>{{ grade.discipline_name }}</td>
                            <td>{{ grade.teacher_fullname }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Navigation">
                        <ul class="pagination justify-content-end">

                            {# Кнопка Previous #}
                            {% if offset > 0 %}
                            <li class="page-item">
                                <a class="page-link" href="?limit={{ limit }}&offset={{ offset - limit }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            {% endif %}

                            {# Кнопка Next #}
                            {% if offset + limit < total_count %}
                            <li class="page-item">
                                <a class="page-link" href="?limit={{ limit }}&offset={{ offset + limit }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </main>
            {% endblock %}