{% extends "base.html" %}

{% block content %}
<div class="full-width-block">
    <div>
        <section class="main-content">
            <main class=" px-3">
                <div class="container my-5">
                    <h2>{{title}}</h2>
                    <form class="w-50 mt-5" action="/students/?search=search_by" method="GET">
                    <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Search by:</span>
                                    <input type="text" class="form-control" placeholder="Student name"
                                           aria-label="student name" aria-describedby="basic-addon1" name="search_by">
                                    <button type="submit" class="btn btn-secondary">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-hover table-striped rounded-table ">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">id</th>
                            <th scope="col">fullname</th>
                            <th scope="col">dob</th>
                            <th scope="col">group name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                        <tr onclick="window.location.href='/students/{{ student.id }}';" style="cursor: pointer;">
                            <th scope="row">{{ offset + loop.index }}</th>
                            <td>{{ student.id }}</td>
                            <td>{{ student.full_name }}</td>
                            <td>{{ student.dob }}</td>
                            <td>{{ student.group.name}}</td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Navigation">
                        <ul class="pagination justify-content-end">

                            {# Кнопка Previous #}
                            {% if offset > 0 %}
                            <li class="page-item">
                                <a class="page-link" href="?limit={{ limit }}&offset={{ offset - limit }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            {% endif %}

                            {# Кнопка Next #}
                            {% if offset + limit < total_count %}
                            <li class="page-item">
                                <a class="page-link" href="?limit={{ limit }}&offset={{ offset + limit }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </main>
            {% endblock %}